@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::-webkit-scrollbar {
		width: 16px;
	}
	::-webkit-scrollbar-thumb {
		border: 4px solid transparent;
		background: rgb(170, 170, 170);
		background-clip: content-box;
		border-radius: 8px;
	}
	::-webkit-scrollbar-thumb:hover {
		border: 4px solid transparent;
		background: rgb(100, 100, 100);
		background-clip: content-box;
		border-radius: 8px;
	}

	/* svg {
        fill: currentColor;
        @apply text-darkMode-text;
    } */

	body {
		@apply bg-darkMode-background text-darkMode-text accent-secondary;
	}

	h1,
	.h1 {
		@apply font-sans text-2xl;
	}

	h2,
	.h2 {
		@apply font-sans text-xl;
	}

	h3,
	.h3 {
		@apply font-sans text-lg;
	}

	h4,
	.h4 {
		@apply font-sans text-base;
	}
}

@layer components {
	.skeleton {
		@apply relative animate-pulse before:absolute before:inset-0 before:rounded-md  before:bg-darkMode-tertiary;
	}
	.primary-button {
		@apply rounded-full bg-white py-1.5 px-3 text-sm text-black duration-200 ease-in  disabled:cursor-not-allowed disabled:text-opacity-40;
	}
	.secondary-button {
		@apply rounded-full  bg-darkMode-tertiary py-1.5 px-3  text-sm text-darkMode-text  duration-200 ease-in  hover:bg-darkMode-hover disabled:cursor-not-allowed disabled:opacity-50 disabled:hover:bg-darkMode-tertiary;
	}
}
